.give-embed-form .give-select-fund-row {
    padding-block-start: 1.875rem !important;
    padding-block-end: 0 !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

.give-funds-select {
    margin-block-start: 0.9375rem;
    margin-block-end: 0.9375rem;
    @include give-input;
}
