/** RESETS */
.post-type-give_forms #wpbody {
	padding-left: 0;
}

/** TODO: tbh it would be better to just unequneue these styles */
.post-type-give_forms #wpbody:after {
	all: unset !important;
}

#wpbody-content {
	padding-bottom: 0;
}
