.card {
	box-sizing: border-box;
	background-color: #fff;
	padding: 1.5rem;
	border: 0.0625rem solid #e2e2e2;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header {
	display: flex;
	align-items: center;
	gap: 0.8125rem;
}

.header svg {
	flex: none;
}

.title {
	font-size: 0.9375rem;
	font-weight: 700;
	margin: 0;
}

.description {
	font-weight: 600;
	font-size: 0.9375rem;
	margin: 0;
}

.image {
	height: 5.5rem;
}

.button {
	box-sizing: border-box;
	display: block;
	appearance: none;
	background-color: #66bb6a;
	color: white;
	font-weight: 700;
	font-size: 1.125rem;
	padding: 0.888em;
	text-align: center;
	text-decoration: none;
	border-radius: 9999px;
	line-height: 1;
}

.button:hover {
	color: #fff;
}
